<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="connString" value="Data Source=DESKTOP-MS5EVP1\SQLEXPRESS;Initial Catalog=db_indobirs_mart;Integrated Security=True;TrustServerCertificate=True"/>
	</appSettings>
</configuration>
